In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv("./raw_us_cities_states_counties.csv", error_bad_lines=False)

b'Skipping line 15999: expected 1 fields, saw 2\nSkipping line 16000: expected 1 fields, saw 2\nSkipping line 16001: expected 1 fields, saw 2\nSkipping line 16002: expected 1 fields, saw 2\nSkipping line 16003: expected 1 fields, saw 2\nSkipping line 16004: expected 1 fields, saw 2\nSkipping line 16005: expected 1 fields, saw 2\nSkipping line 16006: expected 1 fields, saw 2\nSkipping line 16007: expected 1 fields, saw 2\nSkipping line 16008: expected 1 fields, saw 2\nSkipping line 16009: expected 1 fields, saw 2\nSkipping line 16010: expected 1 fields, saw 2\nSkipping line 16011: expected 1 fields, saw 2\nSkipping line 16012: expected 1 fields, saw 2\nSkipping line 16013: expected 1 fields, saw 2\nSkipping line 16014: expected 1 fields, saw 2\nSkipping line 16015: expected 1 fields, saw 2\nSkipping line 16016: expected 1 fields, saw 2\nSkipping line 16017: expected 1 fields, saw 2\nSkipping line 16018: expected 1 fields, saw 2\nSkipping line 16019: expected 1 fields, saw 2\nSkipping line 16020: expected 1 fields, saw 2\nSkipping line 16021: expected 1 fields, saw 2\nSkipping line 16022: expected 1 fields, saw 2\nSkipping line 16023: expected 1 fields, saw 2\nSkipping line 16024: expected 1 fields, saw 2\nSkipping line 16025: expected 1 fields, saw 2\nSkipping line 16026: expected 1 fields, saw 2\nSkipping line 16027: expected 1 fields, saw 2\nSkipping line 16028: expected 1 fields, saw 2\nSkipping line 16029: expected 1 fields, saw 2\nSkipping line 16030: expected 1 fields, saw 2\nSkipping line 16031: expected 1 fields, saw 2\nSkipping line 16032: expected 1 fields, saw 2\nSkipping line 16033: expected 1 fields, saw 2\nSkipping line 16034: expected 1 fields, saw 2\nSkipping line 16035: expected 1 fields, saw 2\nSkipping line 16036: expected 1 fields, saw 2\nSkipping line 16037: expected 1 fields, saw 2\nSkipping line 16038: expected 1 fields, saw 2\nSkipping line 16120: expected 1 fields, saw 2\nSkipping line 16121: expected 1 fields, saw 2\nSkipping line 16122: expected 1 fields, saw 2\nSkipping line 16123: expected 1 fields, saw 2\nSkipping line 16124: expected 1 fields, saw 2\nSkipping line 16125: expected 1 fields, saw 2\nSkipping line 16126: expected 1 fields, saw 2\nSkipping line 16127: expected 1 fields, saw 2\nSkipping line 16128: expected 1 fields, saw 2\nSkipping line 16129: expected 1 fields, saw 2\nSkipping line 16130: expected 1 fields, saw 2\nSkipping line 16131: expected 1 fields, saw 2\nSkipping line 16132: expected 1 fields, saw 2\nSkipping line 16133: expected 1 fields, saw 2\nSkipping line 16134: expected 1 fields, saw 2\nSkipping line 16135: expected 1 fields, saw 2\nSkipping line 16136: expected 1 fields, saw 2\nSkipping line 16137: expected 1 fields, saw 2\nSkipping line 16138: expected 1 fields, saw 2\nSkipping line 16139: expected 1 fields, saw 2\nSkipping line 16140: expected 1 fields, saw 2\nSkipping line 16141: expected 1 fields, saw 2\nSkipping line 16142: expected 1 fields, saw 2\nSkipping line 16143: expected 1 fields, saw 2\nSkipping line 16144: expected 1 fields, saw 2\nSkipping line 16145: expected 1 fields, saw 2\nSkipping line 16146: expected 1 fields, saw 2\nSkipping line 16147: expected 1 fields, saw 2\nSkipping line 16148: expected 1 fields, saw 2\nSkipping line 16149: expected 1 fields, saw 2\nSkipping line 16150: expected 1 fields, saw 2\nSkipping line 16151: expected 1 fields, saw 2\nSkipping line 16152: expected 1 fields, saw 2\nSkipping line 16153: expected 1 fields, saw 2\nSkipping line 16154: expected 1 fields, saw 2\nSkipping line 16155: expected 1 fields, saw 2\nSkipping line 16156: expected 1 fields, saw 2\nSkipping line 16157: expected 1 fields, saw 2\nSkipping line 16158: expected 1 fields, saw 2\nSkipping line 16159: expected 1 fields, saw 2\nSkipping line 16160: expected 1 fields, saw 2\nSkipping line 16161: expected 1 fields, saw 2\nSkipping line 16162: expected 1 fields, saw 2\nSkipping line 16163: expected 1 fields, saw 2\nSkipping line 16164: expected 1 fields, saw 2\nSkipping line 16165: expected 1 fields, saw 2\nSkipping line 16166: expected 1 fields, saw 2\nSkipping line 16167: expected 1 fields, saw 2\nSkipping line 16168: expected 1 fields, saw 2\nSkipping line 16169: expected 1 fields, saw 2\nSkipping line 16170: expected 1 fields, saw 2\nSkipping line 16171: expected 1 fields, saw 2\nSkipping line 16172: expected 1 fields, saw 2\nSkipping line 16173: expected 1 fields, saw 2\nSkipping line 16174: expected 1 fields, saw 2\nSkipping line 16175: expected 1 fields, saw 2\nSkipping line 16176: expected 1 fields, saw 2\nSkipping line 16177: expected 1 fields, saw 2\nSkipping line 16178: expected 1 fields, saw 2\nSkipping line 16179: expected 1 fields, saw 2\nSkipping line 16180: expected 1 fields, saw 2\nSkipping line 16181: expected 1 fields, saw 2\nSkipping line 16182: expected 1 fields, saw 2\nSkipping line 16183: expected 1 fields, saw 2\nSkipping line 16184: expected 1 fields, saw 2\nSkipping line 16185: expected 1 fields, saw 2\nSkipping line 16186: expected 1 fields, saw 2\nSkipping line 16187: expected 1 fields, saw 2\nSkipping line 16188: expected 1 fields, saw 2\nSkipping line 16189: expected 1 fields, saw 2\nSkipping line 16190: expected 1 fields, saw 2\nSkipping line 16191: expected 1 fields, saw 2\nSkipping line 16192: expected 1 fields, saw 2\nSkipping line 16193: expected 1 fields, saw 2\nSkipping line 16194: expected 1 fields, saw 2\nSkipping line 16195: expected 1 fields, saw 2\nSkipping line 16196: expected 1 fields, saw 2\nSkipping line 16197: expected 1 fields, saw 2\nSkipping line 16198: expected 1 fields, saw 2\nSkipping line 16199: expected 1 fields, saw 2\nSkipping line 16200: expected 1 fields, saw 2\nSkipping line 16201: expected 1 fields, saw 2\nSkipping line 16202: expected 1 fields, saw 2\nSkipping line 16203: expected 1 fields, saw 2\nSkipping line 16204: expected 1 fields, saw 2\nSkipping line 16205: expected 1 fields, saw 2\nSkipping line 16206: expected 1 fields, saw 2\nSkipping line 16207: expected 1 fields, saw 2\nSkipping line 16208: expected 1 fields, saw 2\nSkipping line 16209: expected 1 fields, saw 2\nSkipping line 16210: expected 1 fields, saw 2\nSkipping line 16211: expected 1 fields, saw 2\nSkipping line 16212: expected 1 fields, saw 2\nSkipping line 16213: expected 1 fields, saw 2\nSkipping line 16214: expected 1 fields, saw 2\nSkipping line 16215: expected 1 fields, saw 2\nSkipping line 16216: expected 1 fields, saw 2\nSkipping line 16217: expected 1 fields, saw 2\nSkipping line 16218: expected 1 fields, saw 2\nSkipping line 16219: expected 1 fields, saw 2\nSkipping line 16220: expected 1 fields, saw 2\nSkipping line 16221: expected 1 fields, saw 2\nSkipping line 16222: expected 1 fields, saw 2\nSkipping line 16223: expected 1 fields, saw 2\nSkipping line 16224: expected 1 fields, saw 2\nSkipping line 16225: expected 1 fields, saw 2\nSkipping line 16226: expected 1 fields, saw 2\nSkipping line 16227: expected 1 fields, saw 2\nSkipping line 16228: expected 1 fields, saw 2\nSkipping line 16229: expected 1 fields, saw 2\nSkipping line 16230: expected 1 fields, saw 2\nSkipping line 16231: expected 1 fields, saw 2\nSkipping line 16232: expected 1 fields, saw 2\nSkipping line 16233: expected 1 fields, saw 2\nSkipping line 16234: expected 1 fields, saw 2\nSkipping line 16235: expected 1 fields, saw 2\nSkipping line 16236: expected 1 fields, saw 2\nSkipping line 16237: expected 1 fields, saw 2\nSkipping line 16238: expected 1 fields, saw 2\nSkipping line 16239: expected 1 fields, saw 2\nSkipping line 16240: expected 1 fields, saw 2\nSkipping line 16241: expected 1 fields, saw 2\nSkipping line 16242: expected 1 fields, saw 2\nSkipping line 16243: expected 1 fields, saw 2\nSkipping line 16244: expected 1 fields, saw 2\nSkipping line 16245: expected 1 fields, saw 2\nSkipping line 16246: expected 1 fields, saw 2\nSkipping line 16247: expected 1 fields, saw 2\nSkipping line 16248: expected 1 fields, saw 2\nSkipping line 16249: expected 1 fields, saw 2\nSkipping line 16250: expected 1 fields, saw 2\nSkipping line 16251: expected 1 fields, saw 2\nSkipping line 16252: expected 1 fields, saw 2\nSkipping line 16253: expected 1 fields, saw 2\nSkipping line 16254: expected 1 fields, saw 2\nSkipping line 16255: expected 1 fields, saw 2\nSkipping line 16256: expected 1 fields, saw 2\nSkipping line 16257: expected 1 fields, saw 2\nSkipping line 16258: expected 1 fields, saw 2\nSkipping line 16259: expected 1 fields, saw 2\nSkipping line 16260: expected 1 fields, saw 2\nSkipping line 16261: expected 1 fields, saw 2\nSkipping line 16262: expected 1 fields, saw 2\nSkipping line 16263: expected 1 fields, saw 2\nSkipping line 16264: expected 1 fields, saw 2\nSkipping line 16265: expected 1 fields, saw 2\nSkipping line 16266: expected 1 fields, saw 2\nSkipping line 16267: expected 1 fields, saw 2\nSkipping line 16268: expected 1 fields, saw 2\nSkipping line 16269: expected 1 fields, saw 2\nSkipping line 16270: expected 1 fields, saw 2\nSkipping line 16271: expected 1 fields, saw 2\nSkipping line 16272: expected 1 fields, saw 2\nSkipping line 16273: expected 1 fields, saw 2\nSkipping line 16274: expected 1 fields, saw 2\nSkipping line 16275: expected 1 fields, saw 2\nSkipping line 16276: expected 1 fields, saw 2\nSkipping line 16277: expected 1 fields, saw 2\nSkipping line 16278: expected 1 fields, saw 2\nSkipping line 16279: expected 1 fields, saw 2\nSkipping line 16280: expected 1 fields, saw 2\nSkipping line 16281: expected 1 fields, saw 2\nSkipping line 16282: expected 1 fields, saw 2\nSkipping line 16283: expected 1 fields, saw 2\nSkipping line 16284: expected 1 fields, saw 2\nSkipping line 16285: expected 1 fields, saw 2\nSkipping line 16286: expected 1 fields, saw 2\nSkipping line 16287: expected 1 fields, saw 2\nSkipping line 16288: expected 1 fields, saw 2\nSkipping line 16289: expected 1 fields, saw 2\nSkipping line 16290: expected 1 fields, saw 2\nSkipping line 16291: expected 1 fields, saw 2\nSkipping line 16292: expected 1 fields, saw 2\nSkipping line 16293: expected 1 fields, saw 2\nSkipping line 16294: expected 1 fields, saw 2\nSkipping line 16295: expected 1 fields, saw 2\nSkipping line 16296: expected 1 fields, saw 2\nSkipping line 16297: expected 1 fields, saw 2\nSkipping line 16298: expected 1 fields, saw 2\nSkipping line 16299: expected 1 fields, saw 2\nSkipping line 16300: expected 1 fields, saw 2\nSkipping line 16301: expected 1 fields, saw 2\nSkipping line 16302: expected 1 fields, saw 2\nSkipping line 16303: expected 1 fields, saw 2\nSkipping line 16304: expected 1 fields, saw 2\nSkipping line 16305: expected 1 fields, saw 2\nSkipping line 16306: expected 1 fields, saw 2\nSkipping line 16307: expected 1 fields, saw 2\nSkipping line 16308: expected 1 fields, saw 2\nSkipping line 16309: expected 1 fields, saw 2\nSkipping line 16310: expected 1 fields, saw 2\nSkipping line 16311: expected 1 fields, saw 2\nSkipping line 16312: expected 1 fields, saw 2\nSkipping line 16313: expected 1 fields, saw 2\nSkipping line 16314: expected 1 fields, saw 2\nSkipping line 16315: expected 1 fields, saw 2\nSkipping line 16316: expected 1 fields, saw 2\nSkipping line 16317: expected 1 fields, saw 2\nSkipping line 16318: expected 1 fields, saw 2\nSkipping line 16323: expected 1 fields, saw 2\nSkipping line 16324: expected 1 fields, saw 2\nSkipping line 16325: expected 1 fields, saw 2\nSkipping line 16326: expected 1 fields, saw 2\nSkipping line 16341: expected 1 fields, saw 2\nSkipping line 39522: expected 1 fields, saw 2\nSkipping line 39523: expected 1 fields, saw 2\nSkipping line 39524: expected 1 fields, saw 2\nSkipping line 39525: expected 1 fields, saw 2\n'

In [15]:
values = df.columns.tolist()[0].split("|")

In [16]:
for val in values:
#   data = df[val]
  print(val)
  index = values.index(val)
  temp = []
  for row in df.itertuples():
    try:
      data = row._1.split("|")[index]
    except:
      data = np.nan
    temp.append(data)
  df[val]=temp

City
State short
State full
County
City alias

In [18]:
df

,City|State short|State full|County|City alias,City,State short,State full,County,City alias
0,Holtsville|NY|New York|SUFFOLK|Internal Revenu...,Holtsville,NY,New York,SUFFOLK,Internal Revenue Service
1,Holtsville|NY|New York|SUFFOLK|Holtsville,Holtsville,NY,New York,SUFFOLK,Holtsville
2,Adjuntas|PR|Puerto Rico|ADJUNTAS|URB San Joaquin,Adjuntas,PR,Puerto Rico,ADJUNTAS,URB San Joaquin
3,Adjuntas|PR|Puerto Rico|ADJUNTAS|Jard De Adjuntas,Adjuntas,PR,Puerto Rico,ADJUNTAS,Jard De Adjuntas
4,Adjuntas|PR|Puerto Rico|ADJUNTAS|Colinas Del G...,Adjuntas,PR,Puerto Rico,ADJUNTAS,Colinas Del Gigante
...,...,...,...,...,...,...
62958,Klawock|AK|Alaska|PRINCE OF WALES HYDER|Klawock,Klawock,AK,Alaska,PRINCE OF WALES HYDER,Klawock
62959,Metlakatla|AK|Alaska|PRINCE OF WALES HYDER|Met...,Metlakatla,AK,Alaska,PRINCE OF WALES HYDER,Metlakatla
62960,Point Baker|AK|Alaska|PRINCE OF WALES HYDER|Po...,Point Baker,AK,Alaska,PRINCE OF WALES HYDER,Point Baker
62961,Ward Cove|AK|Alaska|KETCHIKAN GATEWAY|Ward Cove,Ward Cove,AK,Alaska,KETCHIKAN GATEWAY,Ward Cove
62962,Wrangell|AK|Alaska|WRANGELL|Wrangell,Wrangell,AK,Alaska,WRANGELL,Wrangell

In [22]:
df= df.drop(df.columns[0],axis=1)

In [23]:
df.columns.tolist()

['City', 'State short', 'State full', 'County', 'City alias']

In [24]:
df.head()

         City State short   State full    County                City alias
0  Holtsville          NY     New York   SUFFOLK  Internal Revenue Service
1  Holtsville          NY     New York   SUFFOLK                Holtsville
2    Adjuntas          PR  Puerto Rico  ADJUNTAS           URB San Joaquin
3    Adjuntas          PR  Puerto Rico  ADJUNTAS          Jard De Adjuntas
4    Adjuntas          PR  Puerto Rico  ADJUNTAS       Colinas Del Gigante

In [ ]:
df.to_csv("us_cities_states_counties.csv")